@import "mixins";
@import "variables";

.productsContainer {
  @include flexContainer(center, flex-start);
  .products {
    width: 80%;
    @include flexContainer(center, center);
    flex-direction: column;
    .product {
      width: 100%;
      @include flexContainer(space-between, center);
      padding: 1rem 0;
      border-bottom: 0.1rem solid black;
      .productDesc {
        width: 80%;
        margin: 2rem;
      }
      .img {
        width: 15rem;
        height: 15rem;
        position: relative;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .productsContainer {
    @include flexContainer(flex-start, center);
    flex-direction: column;
    .products {
      width: 90%;
      .product {
      }
    }
  }
}
